# Python
venv/
__pycache__/
*.pyc
*.db

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local
*.key
*.pem
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
